.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
}

.my-card-single {
  background-color: #ffffff;
  border-radius: 15px;
  margin: 20px;
  min-height: 70px;
}

.owned {
  box-shadow: 0 4px 12px 0 #b8e259;
}

.notOwned {
  box-shadow: 0 4px 12px 0 #ff000066;
}

@media screen and (max-width: 900px) {
  .my-card-single {
    min-height: 120px;
  }
}

@media screen and (max-width: 424px) {
  .mobile-margin-top {
    margin-top: 15px;
  }
}
