.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
}

.my-card-single {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.owned {
  box-shadow: 0 4px 12px 0 #b8e259;
}

.notOwned {
  box-shadow: 0 4px 12px 0 #ff000066;
}
