.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  color: #393939;
  height: 60px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
}

.logout-button {
  background-color: #dfdfdf;
  color: #393939;
}
