.top-box {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.my-text {
  margin-top: 0;
  font-size: 18px;
  text-align: center;
}

.my-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.my-btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.my-title {
  margin-bottom: 1px;
}

.my-icon {
  cursor: pointer;
}

.list-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  height: 35px;
  margin-bottom: 7px;
  width: 700px;
}

.my-box {
  width: 400px;
}
.text-area-box {
  margin-left: 10px;
  margin-bottom: 10px;
}
.my-text-area {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 0.6rem;
}
.my-input {
  width: 100%;
  padding: 3px 15px;
  border-radius: 15px;
  border: 1px solid rgb(179, 179, 179);
}
.my-do {
  width: 80px;
  margin: 5px;
  display: flex;
  align-items: left;
}

.my-container {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 15px;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.input-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.row {
  width: auto !important;
}
.features-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8c82d;
  color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
h6 {
  margin-bottom: 0;
}

.finish {
  background-color: #b8e259;
}
.last-card {
  margin-bottom: 35%;
}

.my-arrow:hover {
  fill: #41403e;
}
.my-arrow {
  fill: #888888;
}
textarea {
  resize: both !important;
  overflow: auto !important;
  min-height: 45px;
  max-height: 300px;
  overflow-y: hidden !important;
}
textarea::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
@media screen and (max-width: 600px) {
  .my-title {
    font-size: 2rem;
  }

  .my-container {
    width: 430px;
    padding: 20px;
  }

  .list-box {
    align-content: center;
    flex-direction: column;
    width: auto;
  }

  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13ch; /* or adjust as needed */
  }
  .features-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
  }
}
