.my-text {
  font-size: 18px;
  text-align: center;
}

.my-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.my-btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.my-btn-primary {
  background-color: #f2f2f2; /* Matched to my-container-2 background color */
  color: #4caf50; /* Matched to my-container-2 primary color */
  border: 2px solid #4caf50; /* Matched to my-container-2 primary color */
}

.my-btn-primary:hover {
  background-color: #f2f2f2; /* Matched to my-container-2 background color */
  color: #45a249; /* Matched to my-container-2 primary hover color */
}

.my-btn-outline-primary {
  color: #f2f2f2; /* Matched to my-container-2 background color */
  border: none; /* Matched to my-container-2 background color */
  background-color: #4caf50; /* Matched to my-container-2 primary color */
}

.my-btn-outline-primary:hover {
  color: #f2f2f2; /* Matched to my-container-2 background color */
  background-color: #4caf50; /* Matched to my-container-2 primary color */
}

.my-btn-outline-danger {
  color: #f2f2f2; /* Matched to my-container-2 background color */
  border: none; /* Matched to my-container-2 background color */
  background-color: #e91e63; /* Matched to my-container-2 danger color */
}

.my-btn-outline-danger:hover {
  color: #f2f2f2; /* Matched to my-container-2 background color */
  background-color: #e91e63; /* Matched to my-container-2 danger color */
}

.my-text {
  margin-top: 0;
}
.my-title {
  margin-bottom: 1px;
  margin-top: 20px;
}

.my-icon {
  cursor: pointer;
}

.list-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  height: 35px;
  margin-bottom: 7px;
  width: 700px;
}

.my-box {
  width: 400px;
}
.my-input {
  width: 200px;
  padding: 3px 15px;
  border-radius: 15px;
  border: 1px solid rgb(179, 179, 179);
}
.my-do {
  width: 80px;
  margin: 5px;
  display: flex;
  align-items: left;
}

.my-container {
  padding: 30px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 15px;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.input-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.row {
  width: auto !important;
}
.features-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #b3b3b3;
}
.last-card {
  margin-bottom: 35%;
}
@media screen and (max-width: 600px) {
  .my-title {
    font-size: 2rem;
  }

  .my-container {
    width: 430px;
    padding: 20px;
  }

  .list-box {
    align-content: center;
    flex-direction: column;
    width: auto;
  }

  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13ch; /* or adjust as needed */
  }
  .features-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
  }
}
