.App {
  text-align: center;
}
.sticky {
  position: fixed;
}
.my-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 10px 0;
  margin: 20px;
}

.my-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Optional: Style the checkbox and input fields for better visibility and interaction */
input[type="checkbox"] {
  margin-right: 10px;
}

input[type="number"] {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.my-button {
  color: white;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-button {
  background-color: #ff4d6d;
  color: white;
}

.save-button {
  background-color: #5dc5e2;
  color: white;
}

.completed-button {
  background-color: #b8e259;
  color: #333;
  width: 120px;
}

.metti-button {
  background-color: #b8e259;
  color: #333;
  width: 80px;
}

.common-button {
  background-color: #47cea1;
  color: #ffffff;
  width: 230px;
}
.to-complete-button {
  background-color: #d7e2bd;
  color: #333;
  width: 150px;
}
